<%# encoding: utf-8 %>

<div class="row">
  <h3 class="pull-left"><%= collaborator.name ? "艺人资料" : "新增艺人" %></h3>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <div class="avatar">
      头像区
    </div>
  </div>

  <div class="col-md-3">
    <div class="information">
      资料区 
    </div>
  </div>

</div>
