<div class="row edit_collaborator">
  <%= link_to '编辑资料', boombox_operation_collaborator_path(@collaborator), class: 'btn btn-default btn-edit-collaborator' %>
</div>

<div class="row boom_albums">
  <h3><%= @collaborator.name %></h3>
  <% if @collaborator.avatar_url %>
    <p><%= image_tag(@collaborator.avatar_url, size: "50x50") %></p>
  <%else %>
    <p>无头像</p>
  <% end %>
  <%= link_to '查看相册', boombox_operation_boom_albums_path(collaborator_id: @collaborator.id), class: 'btn btn-default' %>
  <ul class="nav nav-tabs associates">
    <li role="presentation" class="active"><a href="#">Timeline</a></li>
    <li role="presentation"><a href="#">Tracks</a></li>
    <li role="presentation"><a href="#">Playlists</a></li>
    <li role="presentation"><a href="#">Shows</a></li>
    <li role="presentation"><a href="#">Fans</a></li>
  </ul>
</div>
