//$image_width: 400px
//$image_height: 400px

.boom-albums-list
  text-align: center

.gallery
  text-align: left

.upload-boom-album
  margin: 0 auto
  margin-top: 16px
  margin-bottom: 16px
  width: 400px

.image-original
  text-align: center

.image
  border-width: 0px

.image-is-cover
  border-width: 4px
  border-color: #FF9A1E

figcaption
  font-size: 16px
  margin-top: 16px

img.thumb
  width: 160px
  height: 160px
  object-fit: contain
