figcaption
  font-size: 14px
  margin-top: 0

img.thumb
  width: 180px
  height: 120px
  object-fit: contain

.header-primary
  text-align: center
  margin: 20px
  margin-top: 40px

.submit-area
  text-align: center
