.page_header
  text-align: center

#track_form
  padding: 16px

  .track_edit_area
    background-color: #ffffff

    .track_cover_area
      margin-top: 30px
      border-right-style: solid
      border-width: 1px
      border-color: #CCCCCC
      label[for="cover"]
        margin-left: 30px
        margin-right: 30px
        font-size: 20px

    .track_file_area
      margin: 30px

  div.delete_area
    text-align: center
    a
      margin: 30px

  input#track-submit
    margin: 30px

#cover_preview
  img
    width: 333px
    height: 333px

#track_cover
  margin-left: 50px

table.tracks
  tr td
    line-height: 50px
    audio
      vertical-align: middle

#track_cover_preview
  img
    width: 300px
    height: 300px
    object-fit: contain

#img-prv-boom_track_cover
  width: 300px
  height: 300px
  object-fit: contain

.track_files
  span
    margin: 4px
    color: #fcf8e3

.track_playing
  color: darkblue
  span
    color: darkblue

#track_player
  width: 100%
  text-align: center

.td_playing
  border: solid
  border-color: #F4F4F4
  border-width: 1px
  border-top-color: black
  border-bottom-color: black

.track_cover_thumb
  img
    width: 50px
    height: 50px
    object-fit: contain
