#track_form
  background-color: #ffffff
  margin-left: 30px
  margin-right: 20px

#cover_preview
  img
    width: 333px
    height: 333px

#track_cover
  margin-left: 50px

table.tracks
  tr td
    line-height: 50px
    audio
      vertical-align: middle

#track_cover_preview
  img
    width: 300px
    height: 300px
    object-fit: contain

#img-prv-boom_track_cover
  width: 300px
  height: 300px
  object-fit: contain
