<%# encoding: utf-8 %>

<div class="nav" id="boom_users">
  <h1 class="text-center">用户列表</h1>
</div>
<div class="mt20", id="boom_users_list">
  <%= render partial: 'table', locals: {users: @users} %>
</div>
