<%# encoding: utf-8 %>
<div class="nav" id='tracks'>
  <div class="text-center">
    <h1>音乐</h1>
    <%= link_to "上传音乐", new_boombox_operation_track_url, class: 'btn btn-primary' %>
  </div>
  
  <div class="tracks_search_form mt20">
    <%= render partial: "boombox/operation/search_form", locals: {form_path: search_boombox_operation_tracks_path} %>
  </div>

  <div class="tracks_list mt20">
    <%= render partial: "table", locals: {tracks: @tracks, list_type: ""} %>
  </div>
</div>
