<%# encoding: utf-8 %>

<div class="nav">
    <h1 class="pull-left">城市列表</h1>
  </div>

    <%= paginate @cities%>
  <div class="cities_list">
    <table class="cities table">
      <thead>
        <tr>
          <th>名称</th>
          <th>场馆数</th>
        </tr>
      </thead>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= link_to city.stadiums_count, operation_stadiums_path(city_id: city.id) %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @cities%>
  </div>
