<div class="jumbotron col-md-6 col-md-offset-3" style="padding: 48px;">
  <h2>密码重置</h2>
  <p>我们已经发送邮件到您的邮箱 <%= @boom_admin.email %>，请登录您的邮箱按照提示操作。</p>
  <p>如果邮箱输入有误，请返回重试。<%= link_to '返回', boombox_dj_forget_password_url, class: 'btn btn-lg btn-default' %></p>
  <p>收不到邮件？<%= link_to '重新发送', send_reset_password_email_boombox_dj_boom_admins_url(boom_admin_id: @boom_admin.id), method: :post, class: 'btn btn-lg btn-default' %></p>
</div>
