<%# encoding: utf-8 %>

<table id="shows_table" class="table table-hover shows" data-source="<%= operation_shows_url(format: 'json') %>">
  <thead>
    <tr>
      <th class='text-center'>演出艺人</th>
      <th class='text-center'>演出名称</th>
      <th class='text-center'>是否显示</th>
      <th class='text-center'>是否预售</th>
      <th class='text-center'>资源提供方</th>
      <th class='text-center'>选座类型</th>
      <th class='text-center'>购票状态</th>
      <th class='text-center'>票的类型</th>
      <th class='text-center'>演出地点</th>
      <th class='text-center'>演出时间</th>
      <th class='text-center'>售出票数／总票数</th>
      <th class='text-center'>操作</th>
    </tr>
  </thead>
  <tbody class='text-center'>
  </tbody>
</table>

<%= content_tag :div, id: 'shows_filter', data: {
  status_filter: @status_filter,
  source_filter: @source_filter,
  is_display_filter: @is_display_filter
} do %>
<% end %>
