<div class="nav">
  <h1 class="pull-left">show列表</h1>
</div>

<%= link_to "新增show", new_operation_show_url, class: 'btn btn-primary' %>

<div class="shows_list">
  <%= render partial: "table", locals: {shows: @shows} %>
</div>
