<%# encoding: utf-8 %>

<div class="nav show-index">
  <h1 class="pull-left">演出列表</h1>
  <%= link_to '发布新演出', new_operation_show_path, class: 'btn btn-primary add-show' %>
</div>

<div class="shows_list mt20">
  <%= render partial: "table", locals: {shows: @shows} %>
</div>
