<div class="nav">
    <h1 class="pull-left">show列表</h1>
    <div class="search">
      <%= form_tag(operation_shows_url, method: "get", class: 'navbar-form') do %>
        <div class="form-group">
          <%= text_field_tag(:q, nil, class: 'form-control') %>
        </div>
        <%= submit_tag("搜索", class: 'btn btn-default') %>
      <% end %>
    </div>
  </div>

  
  <%= render partial: "table", locals: {shows: @shows} %>
