<div class="nav">
  <h1 class="pull-left">show详情</h1>
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#shows_show_orders" aria-controls="shows_show_orders" role="tab" data-toggle="tab">票务</a></li>
    <li role="presentation"><a href="#shows_show_topics" aria-controls="shows_show_topics" role="tab" data-toggle="tab">互动</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="shows_show_orders">
    </div>

    <div role="tabpanel" class="tab-pane" id="shows_show_topics">
    </div>

    </div>
  <%= hidden_field_tag "concert_id", "asdfasd"%>
</div>
