<div class="row">
  <%= label_tag 'likers_count', '点赞数：' + @likers.total_count.to_s %> 
</div>

<div class="row">
  <table class="table table-hover likers_list">
    <thead>
      <tr>
        <th>用户名</th>
        <th>点赞时间</th>
      </tr>
    </thead>
    <tbody>
    <% if likers.any? %>
      <% likers.each do |liker| %>
        <tr>
          <td><%= liker.nickname || liker.mobile %></td>
          <td><%= liker.like_boomtopic_at(@boom_topic).strfcn_time %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td>无数据</td></tr>
    <% end %>
    </tbody>
  </table>

 <%= paginate likers, param_name: 'likers_page' %>
</div>
