<%# encoding: utf-8 %>

<div class="nav star-index">
  <h1 class="pull-left">艺人列表</h1>
  <%= link_to "新增艺人", new_operation_star_url, class: 'btn btn-primary add-star' %>
</div>
<div class="stars_list mt20">
  <table class="table table-hover" id="stars_table">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">艺人名称</th>
        <th class="text-center">是否显示</th>
        <th class="text-center">演出状态</th>
        <th class="text-center">总投票数量</th>
        <th class="text-center">粉丝数</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody class='text-center'>
    </tbody>
  </table>
  <%= content_tag :div, id: 'stars_filter', data: {
    status_filter: @status_filter
  } do %>
  <% end %>
</div>
