<%# encoding: utf-8 %>

<%= image_tag(@activity.cover_url) if @activity.cover_url %>
<div class="description_content">
  <%= raw(@activity.description.html_safe) if @activity.description %>
</div>

<style media="screen">
  #description {
    background-color: #12082f;
    color: #fff;
  }
  .description_content{
    overflow: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .youku{
    color: #51AFFF;
    margin-top: 10px;
  }
  .youku .icon{
    height: 20px;
    width: 28px;
    display: inline-block;
    background-image: url('/icon_video.png');
    background-position: 28px 20px;
    margin-right: 5px;
    margin-bottom: -5px;
  }
  img{ width: 100%;}
</style>
