<div id="mail_body" style="height: 800px; width: 640px; margin: 0 auto">
  <div id="mail_head" style="background-color: #e5226f; height: 15%">
    <img src="http://hoishow-img.b0.upaiyun.com/uploads/mail/img/7f57be91508b06f5937d2c331301190e.png" style="margin-left: 75px; margin-top: 50px"/>
  </div>

  <div id="mail_content" style="background-color: #fff; height: 45%">
    <p style="margin-left: 75px; margin-top: 50px; font-size: 1.5em;">亲爱的单车用户 <span style="color: #e5226f"><%= @order.user.mobile %></span> :</p>
    <p style="margin-left: 75px; margin-top: 30px; margin-right: 75px; font-size: 1.5em;">你所购买的 <span style="color: #e5226f"><%= @order.show.name %></span> 门票已经成功出票，请下载附件中的电子门票，自助打印成纸质门票，届时凭票入场。</p>
    <p style="margin-left: 75px; margin-top: 30px; font-size: 1.5em;">祝你生活愉快！</p>
    <p style="margin-left: 75px; margin-top: 30px; font-size: 1.5em; color: #e5226f">客服电话：400-880-5380</p>
  </div>

  <div id="mail_tail" style="background-color: #efefef; height: 40%; text-align: center; padding: 3px">
      <p style="font-size: 1.3em; color: #a6a6a6">下载客户端</p>
      <img src="http://hoishow-img.b0.upaiyun.com/uploads/mail/img/c03b129cab2237177ad246f6f64aec23.png"/>
      <p style="font-size: 1.3em; color: #a6a6a6">让时间的流逝变得更甜美</p>
      <p style="font-size: 1.1em; color: #a6a6a6">Copyright © Shenzhen Danche Information Technology Co.,Ltd, All rights reserved</p>
      <p style="font-size: 1.1em; color: #a6a6a6">解释权归 单车娱乐 所有</p>
  </div>

</div>
