<div class="flexslider">
  <ul class="slides">
    <li>
    <img src="index_page_pic/2.jpg" />
    </li>
    <li>
    <img src="index_page_pic/3.jpg" />
    </li>
    <li>
    <img src="index_page_pic/4.jpg" />
    </li>
  </ul>
</div>

