.stars_list
  .add-star
    margin-top: 25px
    margin-left: 10px

.star_title
  font-size: 36px
  color: black 
  font-weight: 500

#stars
  tr td
    line-height: 50px

#star-form 
  legend
    border: none
    border-bottom: 4px solid #404040
    color: #404040
    font-size: 36px
    font-weight: bold
    padding-bottom: 5px
    position: static
    width: 100%
