// Place all the styles related to the Operation::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav
  position: relative
  .send-msg
    position: absolute
    right: 0
    top: 45%

.avatar
  padding: 5%
  text-align: center
  img
    margin-bottom: 10px
