development: &DEFAULT
  android_appkey: ''
  android_app_master_secret: ''
  ios_appkey: ''
  ios_app_master_secret: ''
  production_mode: ''

test:
  <<: *DEFAULT

production:
  <<: *DEFAULT

staging:
  <<: *DEFAULT
