development: &DEFAULT
  android_appkey: ''
  android_app_master_secret: ''
  ios_appkey: ''
  ios_app_master_secret: ''
  umeng_send_url: "http://msg.umeng.com/api/send"
  umeng_upload_url: "http://msg.umeng.com/upload"
  umeng_status_url: "http://msg.umeng.com/api/status"

test:
  <<: *DEFAULT

production:
  <<: *DEFAULT

staging:
  <<: *DEFAULT
