<%# encoding: utf-8 %>
<div class="nav" id='playlists'>
  <div class="clearfix">
    <h1 class="text-center">Playlist</h1>
    <%= link_to "新建Playlist", new_boombox_dj_playlist_url, class: 'btn btn-primary flr' %>
  </div>

  <div class="playlists_search_form mt20">
    <%= render partial: "boombox/dj/search_form", locals: {form_path: search_boombox_dj_playlists_path} %>
  </div>

  <div class="playlists_list mt20">
    <%= render partial: "table", locals: {playlists: @playlists} %>
  </div>
</div>
