<%# encoding: utf-8 %>

<div class="nav">
    <h1 class="pull-left">演出投票列表</h1>
    <div class="search">
      <%= form_tag(operation_concerts_url, method: "get", class: 'navbar-form') do %>
        <%= select_tag "concert_status_select", options_for_select(%w(演出投票状态 投票中 投票完结), "演出投票状态"), class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="concerts_list">
    <%= render partial: "table", locals: {concerts: @concerts} %>
  </div>



