<%# encoding: utf-8 %>
<div class="nav" id='boom_feedbacks'>
  <div class="text-center">
    <h1>意见反馈</h1>
  </div>

  <div class="mt20" id="boom_feedbacks_list">
    <%= render partial: "table" %>
  </div>
</div>

