<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Hoishow后台登录</h3>
        </div>
        <div class="panel-body">
          <%= form_for(:session, :url => operation_sessions_path) do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
              </div>
              <%= f.submit "登陆", class: 'btn btn-lg btn-success btn-block' %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
