#container
  position: relative
  display: none

#stadium_pic_div
  position: relative
  background-repeat: repeat
  img
    border: 0px none
    position: absolute
    left: 0
    top: 0
    opacity: 0

#mobile_stadium_canvas
  position: absolute
  top: 0
  left: 0

#areas_map_pop_wrap
  top: 30%
  outline: none
  .modal-content
    text-align: center
    height: 150px
    width: 80%
    margin: 0 10%
    line-height: 70px
    font-size: 1.2em 
    .text
      padding: 20px 10px 10px
      margin: 0
      height: auto
      line-height: 1.5
    .btn
      margin-top: -20px
      margin-bottom: 10px
      background-color: #000
      color: #fff
