.express_detail
  overflow: auto
  margin-left: 20px
  table
    font-size: 16px
    tr
      td:first-child
        width: 30px
      .step-start
        background: url('/express_icons/step_start.png') center center no-repeat
      .step-point
        background: url('/express_icons/step_point.png') center center no-repeat
      .step-finish
        background: url('/express_icons/step_finish.png') center center no-repeat
      .detail
        word-wrap: break-word
        word-break: break-all
        p
          margin-left: 20px
          margin-top: 10px
          font
            color: #000