.sharing_show
  position: relative
  z-index: 1
  .top
    position: relative
    img
      width: 100%
    .voters_count
      position: absolute
      width: 100%
      height: 30%
      background-color: rgba(0, 0, 0, 0.4)
      bottom: 0
      color: #fff
      text-align: right
      font-size: 20px
      padding-right: 7%
      &:after
        content: ""
        display: inline-block
        height: 100%
        vertical-align: middle
  .content
    .intro
      padding-top: 10px
      margin-bottom: 10%
      div
        margin: 5px
      label
        font-size: 14px
        margin-top: 8px
        color: #B8B8B8
        font-weight: normal
        &#showdesc
          position: relative
          margin-bottom: 20px
          .iarrow
            content: ""
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            border-top: 10px solid #fd2170
            position: absolute
            right: 18px
            top: 24px
          .uparrow
            transform: rorate(180deg)
      span
        display: block
        font-size: 18px
        color: #fff
      .show-name
        span
          display: inline-block
          width: 75%
          color: rgb(253, 33, 112)
    .description
      color: #838383
      display: none
  .bottom
    color: #fff
    width: 100%
    text-align: center
    font-size: 20px
    padding-bottom: 10%
    div
      margin-bottom: 10px
    h3
      font-size: 18px
      font-weight: normal
      margin-bottom: 15px
    .download-btn
      border-radius: 6px
      background-color: rgba(255, 157, 2, 0.9)
      font-size: 18px
      color: #fff
      padding: 2% 20%
      display: block
      width: 70%
      margin: 0 auto
.fixbg
  background: url(/img_background.png) center top black no-repeat
  background-size: 100%
  background-attachment: fixed
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%

.sharing_concert
  position: relative
  .top
    position: relative
    img
      width: 100%
    .voters_count
      position: absolute
      width: 100%
      height: 15%
      background-color: rgba(0, 0, 0, 0.3)
      bottom: 0
      color: #fff
      text-align: right
      font-size: 22px
      padding-right: 7%
  .content
    background: url(/img_background.png)
    .intro
      padding-top: 10px
      .concert_city_rank
        margin: 20px
        color: #fff
        label
          font-size: 25px
    .city_rank_info
      width: 90%
      margin: auto
      ul li.list-group-item
        background-color: rgba(255,255,255,0.8) !important
        border: none
        border-bottom: 1px
        .city_name
          font-size: 16px
          text-align: center
          display: inline-block
          width: 25%
        .vote_count
          font-size: 15px
          display: inline-block
          margin-left: 3px
        .progress_bar
          display: inline-block
          width: 45%
          height: 13px
          background-color: rgba(0,255,0,0.4) !important
  .vote_part
    margin-top: 50px
    img
      width: 30%
      height: 30%
    p
      margin: auto
      margin-top: 25px
      width: 70%
      font-size: 18px
      color: #fff
    .vote_button
      font-size: 20px
      width: 180px
      margin-top: 25px
      margin-bottom: 75px


.download_app
  width: 100%
  height: 100%
  position: absolute
  background: url(/img_downloadbackground.png)
  background-repeat: no-repeat
  background-size: cover
  .icon_img
    margin-top: 20%
    .hoishow_icon_img
      width: 35%
    p
      font-size: 1.5em
      color: #fff
    .download_button
      font-size: 1.5em
      width: 50%
  .star_icon
    margin-top: 10%
    p
      font-size: 1.5em
      color: #fff
    .star_icon_div
      img
        width: 20%
        margin: 2%

.page_index
  .page1
    background: url(/index_page_pic/1.jpg)
    .qr_code
      width: 12%
      position: absolute
      left: 46%
      top: 38%
    .app_download_button
      width: 22%
      position: absolute
      left: 60%
      top: 38%
      img
        width: 90%
    .star_avatar
      width: 60%
      position: absolute
      left: 43%
      top: 68%
      .star_avatar_div
        margin: 5px
        display: inline-block
        width: 15%
        .img-circle
          width: 100%
        .star_name
          color: #fff
          font-size: 1.5em
  .page2
    background: url(/index_page_pic/2.jpg)
  .page3
    background: url(/index_page_pic/3.jpg)
  .page4
    background: url(/index_page_pic/4.jpg)
  .page5
    background: url(/index_page_pic/5.jpg)
    .qr_code_for_page5
      width: 250px
      position: absolute
      left: 30%
      top: 37%
  .section
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
