<%# encoding: utf-8 %>

<div class="nav">
  <h1 class="pull-left">用户列表</h1>
  <div class="search">
    <%= form_tag(search_operation_users_path, class: 'form-inline', method: 'get') do %>
      <%= text_field_tag "q", nil,  class: 'form-control', placeholder: "按用户名或手机号搜索" %>
      <%= submit_tag "搜索", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<div class="users_list">
  <%= render partial: 'table', locals: {users: @users} %>
</div>
