#playlist_form
  margin-left: 30px
  margin-right: 20px
  .form-control
    width: 70%
  .boom_playlist_cover
    label
      font-size: 1.3em
  .playlist_info
    margin-top: 50px

#playlist_cover_preview,.boom_playlist_cover
  img
    width: 240px
    height: 240px
    border: 2px solid #e0e2e2
    border-radius: 5px
    object-fit: contain
